<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
<div class="row">
  <div class="container">
    <div class="jumbotron">
      <h1>Events Log</h1>
      <p>Here you can see a collection of your events and add new events.</p>
    
    <h2>Add Event</h2>

    <form action="/addEvent" method="POST">
        <input type="text" placeholder="Latest Event" name="todoItem">
        <input type="submit">
    </form>

    <h3>My Events:</h3>

    <ul>
    <% events.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.events %></span>
                <!-- usar para blood -->
                <!-- <span class='del'> Delete </span>  -->
            </li>
    <% }) %>    
    </ul>

    <h2><%= users.userName %> has <%= left %> things left to do.</h2>

</div>
  </div>

 
</div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>